<header>
	<div class="left_content">
		<img src="https://www.tokyu-be.jp/seminar/img/kouza_btn.gif">
	</div>
	<div class="right_content">
		<ul>
			<li>
				<a href="#vision">Vision</a>
			</li>
			<li>
				<a href="#media">Media</a>
			</li>
			<li>
				<a href="#people">People</a>
			</li>
			<li>
				<a href="#company">Company</a>
			</li>
		</ul>
	</div>
</header>
<div class="cp_top">
	<div class="filter">
		<h1>“ブロックチェーン世代”<span>に届けるWEBメディア</span></h1>
		<div class="bottom">
			<h2>仮想通貨の最新情報やエンタメ情報を毎日配信。</h2>
		</div>
	</div>
</div>
<div id="vision" class="vision">
	<h1 class="cp_title">Vision</h1>
	<h2 class="cp_sub_title">理念・ビジョン</h2>
	<h3>“ 仮想通貨の魅力を伝える ”</h3>
	<p>未来のお金のカタチ「仮想通貨」の魅力と可能性を、未来を担うブロックチェーン世代が届ける。<br>仮想通貨のはじめかたから取引のしかたまで初心者向けに分かりやすくお届けします。</p>
</div>
<h1 id="media" class="cp_title media_title">Media</h1>
<h2 class="cp_sub_title">理念・ビジョン</h2>
<div class="media">
	<div class="filter">
		<div class="pc_mock">
			<img src="assets/pc_mock.png">
		</div>
		<div class="media_content">
			<div class="filter">
				<div class="logo">
					<img src="https://www.tokyu-be.jp/seminar/img/kouza_btn.gif">
				</div>
				<p>Cripty(クリプティ)は、未来のお金のカタチ「仮想通貨」の魅力と可能性を、未来を担うブロックチェーン世代が届けるウェブメディア。<br>仮想通貨のはじめかたから取引のしかたまで初心者向けに分かりやすくお届け。仮想通貨の最新情報やそれにまつわるエンタメ情報を毎日配信。</p>
				<div class="service_link">	
					<a>CRIPTYを見る<span>▶</span></a>
				</div>
			</div>
		</div>
		<div class="float_clear"></div>
	</div>
</div>
<div id="member" class="member">
	<h1 class="cp_title">Member</h1>
	<h2 class="cp_sub_title">メンバー</h2>
	<ul class="slider">
		<li>
			<div class="card">
				<div class="img"></div>
				<div class="content">
					<h1>小野 稜馬/おの りょうま</h1>
					<h2>CEO</h2>
					<p>未来のお金のカタチ「仮想通貨」の魅力と可能性を、未来を担うブロックチェーン世代が届ける。</p>
				</div>
			</div>
		</li>
		<li>
			<div class="card">
				<div class="img"></div>
				<div class="content">
					<h1>小野 稜馬/おの りょうま</h1>
					<h2>CEO</h2>
					<p>未来のお金のカタチ「仮想通貨」の魅力と可能性を、未来を担うブロックチェーン世代が届ける。</p>
				</div>
			</div>
		</li>
		<li>
			<div class="card">
				<div class="img"></div>
				<div class="content">
					<h1>小野 稜馬/おの りょうま</h1>
					<h2>CEO</h2>
					<p>未来のお金のカタチ「仮想通貨」の魅力と可能性を、未来を担うブロックチェーン世代が届ける。</p>
				</div>
			</div>
		</li>
		<li>
			<div class="card">
				<div class="img"></div>
				<div class="content">
					<h1>小野 稜馬/おの りょうま</h1>
					<h2>CEO</h2>
					<p>未来のお金のカタチ「仮想通貨」の魅力と可能性を、未来を担うブロックチェーン世代が届ける。</p>
				</div>
			</div>
		</li><li>
			<div class="card">
				<div class="img"></div>
				<div class="content">
					<h1>小野 稜馬/おの りょうま</h1>
					<h2>CEO</h2>
					<p>未来のお金のカタチ「仮想通貨」の魅力と可能性を、未来を担うブロックチェーン世代が届ける。</p>
				</div>
			</div>
		</li><li>
			<div class="card">
				<div class="img"></div>
				<div class="content">
					<h1>小野 稜馬/おの りょうま</h1>
					<h2>CEO</h2>
					<p>未来のお金のカタチ「仮想通貨」の魅力と可能性を、未来を担うブロックチェーン世代が届ける。</p>
				</div>
			</div>
		</li><li>
			<div class="card">
				<div class="img"></div>
				<div class="content">
					<h1>小野 稜馬/おの りょうま</h1>
					<h2>CEO</h2>
					<p>未来のお金のカタチ「仮想通貨」の魅力と可能性を、未来を担うブロックチェーン世代が届ける。</p>
				</div>
			</div>
		</li>
	</ul>
</div>
<h1 id="company" class="cp_title media_title">Company</h1>
<h2 class="cp_sub_title">会社概要</h2>
<!-- <div class="company">
	<p>会社名<apan>株式会社CRIPTY(クリプティ)</apan></p>
	<p>会社名<apan>株式会社CRIPTY(クリプティ)</apan></p>
	<p>会社名<apan>株式会社CRIPTY(クリプティ)</apan></p>
	<p>会社名<apan>株式会社CRIPTY(クリプティ)</apan></p>
	<p class="note">※ お問い合わせは、名前を忘れず、アドレス宛まで送信してください</p>
</div>
 -->
 <footer>
 	<div class="content">
 		<a href="#vision">Vision</a>
 		<a href="#media">Media</a>
 		<a href="#people">People</a>
 		<a href="#company">Company</a>
 	</div>
 	<p class="copy_rights">©︎ Cripty All Rigths Reserved</p>
 </footer>
<script>
$(function(){
	$('.slider').slick({
		autoplay: false,
		autoplaySpeed: 2500,
		draggable: true,
		infinite: true,
		pauseOnHover: true,
		arrows: true,
		slidesToShow: 4,
		slidesToScroll: 1,
		swipe: true,
	});
});
</script>