<header>
	<div class="left_content">
		<img src="https://www.tokyu-be.jp/seminar/img/kouza_btn.gif" alt="Cripty">
	</div>
	<div class="right_content">
		<ul>
			<li>
				<span class="to_vision">Vision</span>
			</li>
			<li>
				<span class="to_media">Media</span>
			</li>
			<li>
				<span class="to_member">Member</span>
			</li>
			<li>
				<span class="to_company">Company</span>
			</li>
		</ul>
		<img src="../assets/hamburger.png" alt="メニュー" class="hamburger_menu">
	</div>
	<div class="over_lay_filter"></div>
	<div class="over_lay">
		<img src="../assets/hamburger_cancel.png" alt="×" class="humburger_cancel">
		<ul>
			<li>
				<span class="over_lay_menu to_vision">Vision</span>
			</li>
			<li>
				<span class="over_lay_menu to_media">Media</span>
			</li>
			<li>
				<span class="over_lay_menu to_member">Member</span>
			</li>
			<li>
				<span class="over_lay_menu to_company">Company</span>
			</li>
		</ul>
	</div>
</header>
<div class="cp_top">
	<div class="filter">
		<h1><span class="cp_top_create">Create key to future for</span><br><span class="cp_top_block">"BlockChain Generation"</span></h1>
		<h2>仮想通貨をもっと身近なものに。<br>"ブロックチェーン世代"に未来の通貨の入り口を提供する。</h2>
	</div>
</div>
<div id="vision" class=" vision">
	<h2 class="cp_title display">Vision</h2>
	<h3 class="cp_sub_title display">理念・ビジョン</h3>
	<h4 class="display">“ 仮想通貨の魅力を伝える ”</h4>
	<p class="display">仮想通貨を支える技術であるブロックチェーンはインターネットに次ぐ革命とも言われています。変化の激しい情報化社会でこれからの若い世代が生きるヒント(key)となってほしい。仮想通貨を知ってもらうことでその先にあるお金や社会の仕組み、ブロックチェーンに目を向けてもらいたい、その最初の一歩を私たちは提供しようと考えています。</p>
</div>
<h2 id="media" class="cp_title media_title display">Media</h2>
<h3 class="cp_sub_title display">運営メディア</h3>
<div class="sp_media">
	<div class="sp_media_image">
		<div class="filter">
		</div>
	</div>
	<div class="media">
		<div class="filter">
			<div class="pc_mock display_slow">
				<img src="assets/pc_mock.png" alt="">
			</div>
			<div class="media_content">
				<div class="filter">
					<div class="logo">
						<img src="https://www.tokyu-be.jp/seminar/img/kouza_btn.gif" alt="Cripty">
					</div>
					<p>Cripty(クリプティ)は、未来のお金のカタチ「仮想通貨」の魅力と可能性を、未来を担うブロックチェーン世代が届けるウェブメディア。<br>仮想通貨のはじめかたから取引のしかたまで初心者向けに分かりやすくお届け。海外留学生の現地レポートや女子大生の投資日記などエンタメ情報も配信。</p>
					<div class="service_link">
						<a href="https://cripty.jp/">CRIPTYを見る<span>▶</span></a>
					</div>
				</div>
			</div>
			<div class="float_clear"></div>
		</div>
	</div>
</div>
<div id="member" class="member">
	<h2 class="cp_title display">Member</h2>
	<h3 class="cp_sub_title display">メンバー</h3>
	<ul class="slider display">
		<% @member.each do |member| %>
		<% if member[:delete_flg] == 0 %>
		<li>
			<div class="card">
				<div class="img"></div>
				<div class="content">
					<p class="member_name"><%= member[:name] %></p>
					<p class="member_position"><%= member[:position] %></p>
					<p class="member_description"><%= member[:description] %></p>
				</div>
			</div>
		</li>
		<% end %>
		<% end %>
	</ul>
</div>
<h2 id="company" class="company_position cp_title media_title display">Company</h2>
<h3 class="company_position cp_sub_title display">会社概要</h3>
<div class="company">
	<div class="company_content display">
		<p>会社名　<span>Cripty(クリプティ)</span></p>
		<p>設立　　<span>2018年1月19日</span></p>
		<p>代表　　<span>小野稜馬</span></p>
		<p>アドレス<span>cripty.co.jp</span></p>
	</div>
	<p class="note">※ お問い合わせは、名前を忘れず、アドレス宛まで送信してください</p>
</div>
<footer>
	<div class="content">
		<span class="to_vision">Vision</span>
		<span class="to_media">Media</span>
		<span class="to_member">Member</span>
		<span class="to_company">Company</span>
	</div>
	<p class="copy_rights">©︎ Cripty, Inc. All Rigths Reserved</p>
</footer>



<script>
$(function(){
	$(window).on('load scroll', function(){
		if($(this).scrollTop() > 60){
			$('header').addClass('to_transparent');
		}
		else{
			$('header').removeClass('to_transparent');
		}
	});

	$('.left_content').click(function(){
		$('body,html').animate({scrollTop:0});
	});
	$('.to_vision').click(function(){
		$('body,html').animate({scrollTop:$('#vision').offset().top - 90});
	});
	$('.to_media').click(function(){
		$('body,html').animate({scrollTop:$('#media').offset().top - 90});
	});
	$('.to_member').click(function(){
		$('body,html').animate({scrollTop:$('#member').offset().top - 90});
	});
	$('.to_company').click(function(){
		$('body,html').animate({scrollTop:$('#company').offset().top - 90});
	});

	$('.hamburger_menu').click(function(){
		scrollpos = $(window).scrollTop();
		$('.over_lay').slideDown();
		$('.over_lay_filter').css('display','block')
		$('body').addClass('fixed').css({'top': -scrollpos});
	});
	$('.humburger_cancel, .over_lay_filter').click(function(){
		$('body').removeClass('fixed').css({'top': 0});
		window.scrollTo( 0 , scrollpos );
		$('.over_lay_filter').css('display','none')
		$('.over_lay').slideUp();
	});
	$('.over_lay_menu').click(function(){
		$('body').removeClass('fixed').css({'top': 0});
		$('.over_lay_filter').css('display','none')
		$('.over_lay').slideUp();
	});

	$('.cp_top_block').textillate({in: {effect: 'bounceInDown'}});

	$(window).ready(function(){
		$('.cp_top').css("height", $(window).height() - 60 + "px")
	});
	$(window).resize(function(){
		$('.cp_top').css("height", $(window).height() - 60 + "px")
	});

	$('.display').on('inview', function(event, isInView, visiblePartX, visiblePartY) {
		$(this).stop().animate({opacity:1}, 800);
	});
	$('.display_slow').on('inview', function(event, isInView, visiblePartX, visiblePartY) {
		$(this).stop().animate({opacity:1}, 3000);
	});

	$('.slider').slick({
		autoplay: false,
		draggable: true,
		infinite: true,
		arrows: true,
		slidesToShow: 3,
		slidesToScroll: 1,
		swipe: true,
		centerMode: true,
		centerPadding: '40px',
		responsive:[
			{
				breakpoint: 959,
				settings:{
					slidesToShow: 1,
					centerPadding: '25%',
				}
			},
			{
				breakpoint: 599,
				settings:{
					slidesToShow: 1,
					centerPadding: '15%',
				}
			}
		]
	});
});
</script>
