@import "variables";
// スマホ //
@media screen and (max-width: 599px){
	.cp_title{
		margin-top: 80px;
		font-size: 30px;
	}
	.cp_sub_title{
		margin-top: 0px;
		margin-bottom: 60px;
		font-size: 12px;
	}
	header{
		.left_content{
			float: none;
			width: 118px;
			margin: 0 auto;
		}
		.right_content{
			position: relative;
			top: -50px;
			margin-right: 15px;
			ul{
				display: none;
			}
			.hamburger_menu{
				display: block;
			}
		}
		.over_lay_filter{
			position: fixed;
			top: 0;
			z-index: 9;
			content: "";
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.5);
		}
		.over_lay{
			position: fixed;
			top: 0;
			width: 100%;
			height: 200px;
			padding: 80px 0;
			background: linear-gradient($second_pink, $pink);
			text-align: center;
			z-index: 10;
			img{
				position: fixed;
				top: 5%;
				right: 8%;
				width: 25px;
			}
			li{
				margin-bottom: 40px;
				font-size: 18px;
				color: $white;
				letter-spacing: 3px;
			}
		}
	}
	.cp_top{
		.filter{
			padding: 0 5%;
			text-align: center;
			h1{
				line-height: 40px;
				font-size: 26px;
			}
			h2{
				margin-top: 45px;
				line-height: 30px;
				font-size: 16px;
			}
			.bottom{
				margin-top: 370px;
				p{
					font-size: 16px;
				}
			}
		}
	}
	.vision{
		height: 350px;
		h4{
			margin-top: 50px;
			font-size: 20px;
		}
		p{
			width: 86%;
			margin: 30px 7%;
			line-height: 25px;
			text-align: left;
			font-size: 12px;
		}
	}
	.sp_media{
		position: absolute;
	}
	.sp_media_image{
		display: block;
		height: 181px;
		background-image: url("../assets/kanna.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		position: relative;
		top: 0;
		overflow-y: hidden;
		.filter{
			background-color: rgba(77,84,90,0.5);
			height: 181px;
		}
	}
	.media{
		position: relative;
		top: -210px;
		background-image: none;
		height: 550px;
		margin-top: 0;
		.filter{
			height: 600px;
			background-color: rgba(77,84,90,0);
			.pc_mock{
				float: none;
				width: 288px;
				margin: 0 auto;
				img{
					width: 288px;
				}
			}
			.media_content{
				position: relative;
				top: -45px;
				float: none;
				width: 90%;
				height: 300px;
				margin: 0 5%;
				.filter{
					height: 300px;
					margin: 0;
					padding: 0;
					background-color: rgba(147,25,25,0);
					.logo{
						margin: 0 0 30px 0;
						img{
							width: 136px;
							height: 40px;
						}
					}
					p{
						line-height: 23px;
						font-size: 12px;
						color: $black;
					}
					.service_link{
						a{
							width: 200px;
							height: 40px;
							padding-top: 10px;
							padding-bottom: 0;
							font-size: 14px;
						}
					}
				}
			}
		}
	}
	.member{
		margin-top: 640px;
		.slider{
			li{
				.card{
					.content{
						padding: 20px 30px 0 30px;
						.member_name{
							font-size: 14px;
						}
						.member_position{
							font-size: 12px;
						}
						.member_description{
							font-size: 10px;
						}
					}
				}
			}
		}
	}
	.company_position{

	}
	.company{

		padding: 40px 0 10px 0;
		.company_content{
			padding-left: 10%;
			p{
				font-size: 14px;
				margin-bottom: 35px;
				span{
					display: block;
					margin-top: 15px;
					margin-left: 0;
					font-size: 12px;
				}
			}
		}
		.note{
			margin: 0;
			font-size: 10px;
		}
	}
	footer{

		.content{
			span{
				font-size: 12px;
			}
		}
	}
}
// タブレット //
@media screen and (min-width:600px) and ( max-width:959px){
	.vision{
		height: 490px;
		p{
			font-size: 14px;
		}
	}
	.media{
		height: 550px;
		.filter{
			height: 550px;
			.pc_mock{
				width: 40%;
				margin-top: 100px;
				margin-left: 1%;
			}
			.media_content{
				height: 440px;
				.filter{
					height: 440px;
					margin-top: 50px;
					padding: 10px 40px;
					.logo{
						margin: 10px 0 25px 0;
					}
					p{
						line-height: 30px;
					}
					.service_link{
						margin-top: 40px;
						a{
							height: 40px;
							padding: 10px 20px;
						}
					}
				}
			}
		}
	}
}
// スライダー用 //
@media screen and (min-width: 960px) and (max-width: 1199px){
	.member{
		.slider{
			height: 381px;
			.slick-current{
				.card{
					height: 381px;
				}
			}
			li{
				.card{
					height: 351px;
					.img{
					}
					.content{
						.member_name{
							font-size: 14px;
						}
						.member_position{
							font-size: 12px;
						}
						.member_description{
							font-size: 10px;
						}
					}
				}
			}
		}
	}
}
