<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>ブロックチェーン世代のための仮装通貨メディア｜Cript</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Cripty(クリプティ)は、未来のお金のカタチ「仮想通貨」の魅力と可能性を、未来を担うブロックチェーン世代が届けるウェブメディアです。仮想通貨のはじめかたから取引のしかたまで初心者向けに分かりやすくお届け。仮想通貨の最新情報やそれにまつわるエンタメ情報を毎日配信。">
        <link rel="icon" type="image/png" href="https://example.com/favicon.png">
        <link rel="apple-touch-icon" href="/custom-icon.png">
        <link rel="canonical" href="http://example.com/2017/09/a-new-article-to-red.html">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script type="text/javascript" src="slick/slick.min.js"></script>
        <link rel="stylesheet" type="text/css" href="assets/javascripts/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="assets/javascripts/slick/slick-theme.css"/>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <%= yield %>
    </body>
</html>
