<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Cripty (クリプティ)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Cripty(クリプティ)は、未来のお金のカタチ「仮想通貨」の魅力と可能性を、未来を担うブロックチェーン世代が発信します。大学生などの若い世代に向けたウェブメディアを運営。大学生による投資日記や海外現地レポートも掲載予定。">
        <link rel="icon" type="image/png" href="../assets/apple-touch-icon.png">
        <link rel="apple-touch-icon" href="../assets/apple-touch-icon.png">
        <link rel="canonical" href="">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <%= yield %>
    </body>
</html>
